<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Applications>
        <Application Id="2" Name="Azure">
            <ConnectionStrings>
                <add Id="1" Name="azure" ProviderName="System.Data.SqlClient" ConnectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=northwind;" />
            </ConnectionStrings>
			<ModifiersTemplates>
				<ServerModifier id="{$SERVER_SOURCE_PGIS}" TemplateId="1" >
					<DatabaseModifier Name="PGIScbl" TemplateId="1">
						<SchemaModifier Name="dbo" TemplateId="1">
                            <TableModifier Name="DomaineValeur" IsStatic="true"/>
							
							<TableModifier Name="Transmission" IsStatic="false">
								<!--
								<DerivativeTables GlobalAccess="forced" Cascade="true">  
									<Table serverId="{$SourceContext}" database="{$SourceContext}" schema="{$SourceContext}" table="Demande" Access="NotSet" Cascade="false"/>    
								</DerivativeTables>
                                -->
								<ForeignKeys>
									<Add ServerId="{$SERVER_SOURCE_SIEBEL}" Database="SIEBELDB" Schema="dbo" Table="S_SRV_REQ">
										<Collumn NameFrom="NoReferenceTransmission" NameTo="SR_NUM" />
									</Add>                
								</ForeignKeys>
								<!--
								<DataBuilders>
									<Collumn Name="col1" BuilderName="Client.Builder.CreatePK" />
								</DataBuilders>
							</TableModifier>
                            <TableModifier Name="PropositionRachat" IsStatic="false">
								<ForeignKeys>
									<Add ServerId="{$SERVER_SOURCE_ARIEL}" Database="Ariel" Schema="dbo" Table="S_SRV_REQ">
										<Collumn NameFrom="NoReferenceTransmission" NameTo="SR_NUM" />
									</Add>                
								</ForeignKeys>
								<DataBuilders>
									<Collumn Name="col1" BuilderName="Client.Builder.CreatePK" />
								</DataBuilders>-->
							</TableModifier>

						</SchemaModifier>
					</DatabaseModifier>
				</ServerModifier>
   				<ServerModifier id="{$SERVER_SOURCE_ARIEL}" TemplateId="2">
               		<DatabaseModifier Name="Ariel" TemplateId="2"/>
				</ServerModifier>
                <ServerModifier id="{$SERVER_SOURCE_SIEBEL}" TemplateId="3">
               		<DatabaseModifier Name="SIEBEL" TemplateId="3"/>
				</ServerModifier>
			</ModifiersTemplates>
            <ClonerConfigurations>
                <ClonerConfiguration Id="1" Name="Default" Description="Configuration par défaut">								
					<ServerModifier UseTemplateId="1"/>
					<ServerModifier UseTemplateId="2"/>
					<ServerModifier UseTemplateId="3"/>
				</ClonerConfiguration>				
            </ClonerConfigurations>
            <Maps>
                <Map Id="1" From="testMSSQL" To="testMSSQL" UsableConfigs="1">
                    <Road ServerSrc="1" DatabaseSrc="ADVENTUREWORKS" SchemaSrc="SALESLT" ServerDst="1" DatabaseDst="ADVENTUREWORKS" SchemaDst="SALESLT" />
                </Map>
            </Maps>
        </Application>
    </Applications>
</Configuration>