<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Applications>
        <Application Id="1" Name="NorthWind">
            <ConnectionStrings>
                <Add Id="1" Name="NorthWind_UNI" ProviderName="System.Data.SqlClient" ConnectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Initial Catalog=Northwind_UNI;AttachDbFileName=|DataDirectory|\NORTHWND_UNI.mdf" />
                <Add Id="2" Name="NorthWind_FON" ProviderName="System.Data.SqlClient" ConnectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Initial Catalog=Northwind_FON;AttachDbFileName=|DataDirectory|\NORTHWND_FON.mdf" />
            </ConnectionStrings>
            <ModifiersTemplates>
                <ServerModifier Id="{$SERVER_SOURCE_NORTHWIND{1}}" Description="CloneCustomer" TemplateId="1" UseTemplateId="0">
                    <DatabaseModifier Name="{$DATABASE_SOURCE_NORTHWIND{1}{northwind_uni}}" TemplateId="1" UseTemplateId="0">
                        <SchemaModifier Name="dbo" TemplateId="1" UseTemplateId="0">
                            <TableModifier Name="categories" IsStatic="true" />
                            <TableModifier Name="customers" IsStatic="false">
                                <DataBuilders>
                                    <Column Name="contactname" BuilderName="DataCloner.PlugIn.StringDataBuilder" />
                                    <Column Name="contacttitle" BuilderName="DataCloner.PlugIn.StringDataBuilder" />
                                </DataBuilders>
                            </TableModifier>
                            <TableModifier Name="employees" IsStatic="true" />
                            <TableModifier Name="orders" IsStatic="false">
                                <DataBuilders>
                                    <Column Name="shipname" BuilderName="DataCloner.PlugIn.StringDataBuilder" />
                                    <Column Name="shipaddress" BuilderName="DataCloner.PlugIn.StringDataBuilder" />
                                </DataBuilders>
                            </TableModifier>
                            <TableModifier Name="products" IsStatic="true" />
                            <TableModifier Name="region" IsStatic="true" />
                            <TableModifier Name="shippers" IsStatic="false">
                                <DataBuilders>
                                    <Column Name="companyname" BuilderName="DataCloner.PlugIn.StringDataBuilder" />
                                </DataBuilders>
                            </TableModifier>
                            <TableModifier Name="suppliers" IsStatic="true" />
                            <TableModifier Name="territories" IsStatic="true" />
                        </SchemaModifier>
                    </DatabaseModifier>
                </ServerModifier>
            </ModifiersTemplates>
            <ClonerBehaviours>
                <ClonerBehaviour Id="1" Name="Default" Description="Configuration par défaut">
                    <Modifiers />
                </ClonerBehaviour>
                <ClonerBehaviour Id="2" Name="Customer" Description="Duplication d'un client">
                    <Modifiers>
                        <ServerModifier Id="{$SERVER_SOURCE_NORTHWIND}" TemplateId="0" UseTemplateId="1" />
                    </Modifiers>
                </ClonerBehaviour>                   
            </ClonerBehaviours>
            <Maps>
                <Map Id="1" From="UNI" To="UNI" UsableBehaviours="1,2">
                    <Variables>
                        <Var Name="{$SERVER_SOURCE_NORTHWIND}" Value="1" />
                        <Var Name="{$DATABASE_SOURCE_NORTHWIND}" Value="northwind_uni" />
                    </Variables>
                    <Road ServerSrc="{$SERVER_SOURCE_NORTHWIND}" DatabaseSrc="{$DATABASE_SOURCE_NORTHWIND}" SchemaSrc="dbo" 
                          ServerDst="{$SERVER_SOURCE_NORTHWIND}" DatabaseDst="{$DATABASE_SOURCE_NORTHWIND}" SchemaDst="dbo" />
                </Map>
            </Maps>
        </Application>
    </Applications>
</Configuration>