<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Applications>
        <Application Id="1" Name="Azure">
            <ConnectionStrings>
                <Add Id="1" Name="azure" ProviderName="System.Data.SqlClient" ConnectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=northwind;" />
            </ConnectionStrings>
			<ModifiersTemplates>
				<ServerModifier Id="{$SERVER_SOURCE_PGIS}" TemplateId="1" >
					<DatabaseModifier Name="PGIScbl" TemplateId="1">
						<SchemaModifier Name="dbo" TemplateId="1">                            
							<TableModifier Name="Transmission" IsStatic="true">
								<ForeignKeys>
									<Add ServerId="{$SERVER_SOURCE_SIEBEL}" Database="SIEBELDB" Schema="dbo" Table="S_SRV_REQ">
										<Column NameFrom="NoReferenceTransmission" NameTo="SR_NUM" />
									</Add>                
								</ForeignKeys>
								<DataBuilders>
									<Column Name="col1" BuilderName="Client.Builder.CreatePK" />
								</DataBuilders>
							</TableModifier>                          
						</SchemaModifier>
					</DatabaseModifier>
				</ServerModifier>
			</ModifiersTemplates>
            <ClonerConfigurations>
                <ClonerConfiguration Id="1" Name="Default" Description="Configuration par défaut">
					<ServerModifier Id="{$SERVER_SOURCE_PGIS}"  UseTemplateId="1"/>					
				</ClonerConfiguration>				
            </ClonerConfigurations>
            <Maps>
                <Map Id="1" From="testMSSQL" To="testMSSQL" UsableConfigs="1">
                    <Variables>
                        <Var Name="{$SERVER_SOURCE_PGIS}" Value="1"/>
                        <Var Name="{$SERVER_SOURCE_ARIEL}" Value="1"/>
                        <Var Name="{$SERVER_SOURCE_SIEBEL}" Value="1"/>
					</Variables>
                    <Road ServerSrc="1" DatabaseSrc="ADVENTUREWORKS" SchemaSrc="SALESLT" 
                          ServerDst="1" DatabaseDst="ADVENTUREWORKS" SchemaDst="SALESLT" />
                </Map>
            </Maps>
        </Application>
    </Applications>
</Configuration>