<?xml version="1.0" encoding="utf-8"?>
<ServersMaps>
    <Map nameFrom="PROD" nameTo="UNI" usableConfigs="1,2,3">
		<Variables>
			<Var Name="{$PGIS}" Value="PGIScbl"/>
		</Variables>
        <Road ServerSrc="1" DatabaseSrc="PGIS" SchemaSrc="" 
              ServerDst="3" DatabaseDst="PGIS" SchemaDst=""/>
        <Road ServerSrc="2" DatabaseSrc="Ariel" SchemaSrc="" 
              ServerDst="3" DatabaseDst="Ariel" SchemaDst=""/>
    </Map>
    <Map nameFrom="PROD" nameTo="UNI" usableConfigs="1">
        <Road ServerSrc="5" DatabaseSrc="PGIS" SchemaSrc="" 
              ServerDst="3" DatabaseDst="PGIS" SchemaDst=""/>
        <Road ServerSrc="5" DatabaseSrc="Ariel" SchemaSrc="" 
              ServerDst="3" DatabaseDst="Ariel" SchemaDst=""/>
    </Map>
    <Map nameFrom="PROD" nameTo="UNI Paul" usableConfigs="1,2,3">
        <Road ServerSrc="5" DatabaseSrc="PGIS" SchemaSrc="" 
              ServerDst="3" DatabaseDst="PGIS" SchemaDst="Paul"/>
        <Road ServerSrc="5" DatabaseSrc="Ariel" SchemaSrc="" 
              ServerDst="3" DatabaseDst="Ariel" SchemaDst="Paul"/>
    </Map>
    <Map nameFrom="File" nameTo="" usableConfigs="2">
        <Road ServerSrc="5" DatabaseSrc="PGIS" SchemaSrc="" />
        <Road ServerSrc="5" DatabaseSrc="Ariel" SchemaSrc="" />
    </Map>
</ServersMaps>