<Configuration>
    <ConnectionStrings>
        <add Id="1" ProviderName="MySql.Data.MySqlClient" ConnectionString="server=localhost;user id=root; password=toor; database=DataclonerTestDatabase; pooling=false" SameConfigAsId="1" />
    </ConnectionStrings>
    <TableModifiers>
        <Server Id="1">
            <Database Name="db">
                <Schema Name="dbo">
                    <Table Name="table1" IsStatic="true">
                        <DerivativeTables GlobalAccess="forced" Cascade="true">
                            <Table serverId="1" database="db" schema="dbo" table="tbl3" Access="Forced" Cascade="true"/>
                            <Table serverId="1" database="db" schema="dbo" table="tbl3"  Access="Forced" Cascade="false"/>     
                            <Table serverId="1" database="db" schema="dbo" table="tbl3"  Access="NotSet" Cascade="false"/>    
                        </DerivativeTables>
                        <ForeignKeys>
                            <Add ServerId="1" Database="db1" Schema="dbo" Table="table1">
                                <Collumn NameFrom="col1" NameTo="col1" />
                                <Collumn NameFrom="col2" NameTo="col2" />
                            </Add>
                            <Remove>
                                <Collumn Name="col3" />
                            </Remove>                    
                        </ForeignKeys>
                        <DataBuilders>
                            <Collumn Name="col1" BuilderName="Client.Builder.CreatePK" />
                        </DataBuilders>
                    </Table>
                </Schema>
            </Database>
        </Server>
    </TableModifiers> 
</Configuration>
