<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Applications>
        <Application Name="TestApp">
            <ConnectionStrings>
                <add Id="1" Name="testMySQL" ProviderName="MySql.Data.MySqlClient" ConnectionString="server=localhost;user id=root;password=toor;pooling=true;;Allow User Variables=True" />
            </ConnectionStrings>
            <ClonerConfigurations />
            <Maps>
                <Map Id="1" From="testMySQL" To="testMySQL">
                    <Road ServerSrc="1" DatabaseSrc="dataclonertestdatabase" SchemaSrc="" ServerDst="1" DatabaseDst="dataclonertestdatabase" SchemaDst="" />
                    <Road ServerSrc="1" DatabaseSrc="sakila" SchemaSrc="" ServerDst="1" DatabaseDst="sakila" SchemaDst="" />
                </Map>
            </Maps>
        </Application>
    </Applications>
</Configuration>