################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/DataCloner.Core.Test/obj/Debug
/DataCloner.Core.Test/obj/Debug
/archive/DataCloner.Core/obj
/archive/DataCloner.Core/bin/Debug
